<div style="text-align: center">
  <h2>Add Color</h2>
</div>

<form
  (ngSubmit)="add()"
  #infoForm="ngForm"
  class="form-group"
  style="text-align: center; margin-left: 50px; margin-right: 50px"
>
  <label for="newColor.name">Name</label>
  <input
    type="text"
    class="form-control"
    id="newColor.name"
    required
    [(ngModel)]="newColor.name"
    name="newColor.name"
  />
  <label for="newColor.hex">Hex</label>
  <input
    type="text"
    class="form-control"
    id="newColor.hex"
    required
    [(ngModel)]="newColor.hex"
    name="newColor.hex"
    [ngStyle]="{ 'background-color': newColor.hex }"
  />
  <button type="button" class="btn btn-default" (click)="add()">Add</button>
  <button type="button" class="btn btn-default" (click)="toggleAddColor()">
    Close
  </button>
</form>
